# Week 3 Quiz
___

## Question 1
The American Community Survey distributes downloadable data about United States communities. Download the 2006 microdata survey about housing for the state of Idaho using download.file() from here:

https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2Fss06hid.csv

and load the data into R. The code book, describing the variable names is here:

https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2FPUMSDataDict06.pdf

Create a logical vector that identifies the households on greater than 10 acres who sold more than $10,000 worth of agriculture products. Assign that logical vector to the variable agricultureLogical. Apply the which() function like this to identify the rows of the data frame where the logical vector is TRUE.

which(agricultureLogical)

What are the first 3 values that result?

In [14]:
if (!file.exists("data/idahohousing.csv")){
    download.file("https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2Fss06hid.csv",
                 "data/idahohousing.csv")
}
idaho.housing <- read.csv("data/idahohousing.csv")

In [15]:
str(idaho.housing)

'data.frame':	6496 obs. of  188 variables:
 $ RT      : Factor w/ 1 level "H": 1 1 1 1 1 1 1 1 1 1 ...
 $ SERIALNO: int  186 306 395 506 835 989 1861 2120 2278 2428 ...
 $ DIVISION: int  8 8 8 8 8 8 8 8 8 8 ...
 $ PUMA    : int  700 700 100 700 800 700 700 200 400 500 ...
 $ REGION  : int  4 4 4 4 4 4 4 4 4 4 ...
 $ ST      : int  16 16 16 16 16 16 16 16 16 16 ...
 $ ADJUST  : int  1015675 1015675 1015675 1015675 1015675 1015675 1015675 1015675 1015675 1015675 ...
 $ WGTP    : int  89 310 106 240 118 115 0 35 47 51 ...
 $ NP      : int  4 1 2 4 4 4 1 1 2 2 ...
 $ TYPE    : int  1 1 1 1 1 1 2 1 1 1 ...
 $ ACR     : int  1 NA 1 1 2 1 NA 1 1 1 ...
 $ AGS     : int  NA NA NA NA 1 NA NA NA NA NA ...
 $ BDS     : int  4 1 3 4 5 3 NA 2 3 2 ...
 $ BLD     : int  2 7 2 2 2 2 NA 1 2 1 ...
 $ BUS     : int  2 NA 2 2 2 2 NA 2 2 2 ...
 $ CONP    : int  NA NA NA NA NA NA NA NA NA NA ...
 $ ELEP    : int  180 60 70 40 250 130 NA 40 2 20 ...
 $ FS      : int  0 0 0 0 0 0 0 0 0 0 ...
 $ FULP    : int  2 2 2 2 2 2 NA 480 2 2 ...
 $ GASP    : int  3 3 30 80 3 3 NA 3 3 140 ...
 $ HFL     : int  3 3 1 1 3 3 NA 4 3 1 ...
 $ INSP    : int  600 NA 200 200 700 250 NA NA 770 120 ...
 $ KIT     : int  1 1 1 1 1 1 NA 1 1 1 ...
 $ MHP     : int  NA NA NA NA NA NA NA NA NA 220 ...
 $ MRGI    : int  1 NA NA 1 1 1 NA NA 1 NA ...
 $ MRGP    : int  1300 NA NA 860 1900 700 NA NA 750 NA ...
 $ MRGT    : int  1 NA NA 1 1 1 NA NA 1 NA ...
 $ MRGX    : int  1 NA 3 1 1 1 NA NA 1 3 ...
 $ PLM     : int  1 1 1 1 1 1 NA 1 1 1 ...
 $ RMS     : int  9 2 7 6 7 6 NA 4 6 5 ...
 $ RNTM    : int  NA 2 NA NA NA NA NA NA NA NA ...
 $ RNTP    : int  NA 600 NA NA NA NA NA NA NA NA ...
 $ SMP     : int  NA NA NA 400 650 400 NA NA NA NA ...
 $ TEL     : int  1 1 1 1 1 1 NA 1 1 1 ...
 $ TEN     : int  1 3 2 1 1 1 NA 4 1 2 ...
 $ VACS    : int  NA NA NA NA NA NA NA NA NA NA ...
 $ VAL     : int  17 NA 18 19 20 15 NA NA 13 1 ...
 $ VEH     : int  3 1 2 3 5 2 NA 1 2 2 ...
 $ WATP    : int  840 1 50 500 2 1200 NA 650 660 2 ...
 $ YBL     : int  5 3 5 2 3 5 NA 5 3 5 ...
 $ FES     : int  2 NA 7 1 1 2 NA NA 2 NA ...
 $ FINCP   : int  105600 NA 9400 66000 93000 61000 NA NA 209000 NA ...
 $ FPARC   : int  2 NA 2 1 2 1 NA NA 4 NA ...
 $ GRNTP   : int  NA 660 NA NA NA NA NA NA NA NA ...
 $ GRPIP   : int  NA 23 NA NA NA NA NA NA NA NA ...
 $ HHL     : int  1 1 1 1 1 1 NA 1 1 2 ...
 $ HHT     : int  1 4 3 1 1 1 NA 6 1 5 ...
 $ HINCP   : int  105600 34000 9400 66000 93000 61000 NA 10400 209000 35400 ...
 $ HUGCL   : int  0 0 0 0 0 0 NA 0 0 0 ...
 $ HUPAC   : int  2 4 2 1 2 1 NA 4 4 4 ...
 $ HUPAOC  : int  2 4 2 1 2 1 NA 4 4 4 ...
 $ HUPARC  : int  2 4 2 1 2 1 NA 4 4 4 ...
 $ LNGI    : int  1 1 1 1 1 1 NA 1 1 2 ...
 $ MV      : int  4 3 2 3 1 4 5 5 1 1 ...
 $ NOC     : int  2 0 1 2 1 2 NA 0 0 0 ...
 $ NPF     : int  4 NA 2 4 4 4 NA NA 2 NA ...
 $ NPP     : int  0 0 0 0 0 0 NA 0 0 0 ...
 $ NR      : int  0 0 0 0 0 0 NA 0 0 1 ...
 $ NRC     : int  2 0 1 2 1 2 NA 0 0 0 ...
 $ OCPIP   : int  18 NA 23 26 36 26 NA NA 5 7 ...
 $ PARTNER : int  0 0 0 0 0 0 NA 0 0 0 ...
 $ PSF     : int  0 0 0 0 0 0 NA 0 0 0 ...
 $ R18     : int  1 0 1 1 1 1 NA 0 0 0 ...
 $ R60     : int  0 0 0 0 0 0 NA 1 1 0 ...
 $ R65     : int  0 0 0 0 0 0 NA 1 1 0 ...
 $ RESMODE : int  1 2 1 2 1 2 NA 2 1 1 ...
 $ SMOCP   : int  1550 NA 179 1422 2800 1330 NA NA 805 196 ...
 $ SMX     : int  3 NA NA 1 1 2 NA NA 3 NA ...
 $ SRNT    : int  0 1 0 0 0 0 NA 1 0 0 ...
 $ SVAL    : int  1 0 1 1 1 1 NA 0 1 0 ...
 $ TAXP    : int  24 NA 16 31 25 7 NA NA 22 4 ...
 $ WIF     : int  3 NA 1 2 3 1 NA NA 1 NA ...
 $ WKEXREL : int  2 NA 13 2 1 7 NA NA 6 NA ...
 $ WORKSTAT: int  3 NA 13 1 1 3 NA NA 3 NA ...
 $ FACRP   : int  0 0 0 0 0 0 NA 0 0 1 ...
 $ FAGSP   : int  0 0 0 0 0 0 NA 0 0 0 ...
 $ FBDSP   : int  0 0 0 0 0 0 NA 0 0 0 ...
 $ FBLDP   : int  0 0 0 0 0 0 NA 0 0 0 ...
 $ FBUSP   : int  0 0 0 0 0 0 NA 0 0 0 ...
 $ FCONP   : int  0 0 0 0 0 0 NA 0 0 0 ...
 $ FELEP   : int  0 0 0 0 0 0 NA 0 0 0 ...
 $ FFSP    : int  0 0 0 0 0 0 0 0 0 0 ...
 $ FFULP   : int  0 0 0 0 0 0 NA 0 0 0 ...
 $ FGASP   : int  0 0 0 0 0 0 NA 0 0 0 ...
 $ FHFLP   : int  0 0 0 0 0 0 NA 0 0 0 ...
 $ FINSP   : int  0 0 0 0 0 1 NA 0 0 0 ...
 $ FKITP   : int  0 0 0 0 0 0 NA 0 0 0 ...
 $ FMHP    : int  0 0 0 0 0 0 NA 0 0 0 ...
 $ FMRGIP  : int  0 0 0 0 0 0 NA 0 0 0 ...
 $ FMRGP   : int  0 0 0 0 0 0 NA 0 0 0 ...
 $ FMRGTP  : int  0 0 0 0 0 0 NA 0 0 0 ...
 $ FMRGXP  : int  0 0 0 0 0 0 NA 0 0 0 ...
 $ FMVYP   : int  0 0 0 0 0 0 NA 0 0 0 ...
 $ FPLMP   : int  0 0 0 0 0 0 NA 0 0 0 ...
 $ FRMSP   : int  0 0 0 0 0 0 NA 0 0 1 ...
 $ FRNTMP  : int  0 0 0 0 0 0 NA 0 0 0 ...
 $ FRNTP   : int  0 0 0 0 0 0 NA 0 0 0 ...
 $ FSMP    : int  0 0 0 0 0 0 NA 0 0 0 ...
 $ FSMXHP  : int  0 0 0 0 0 0 NA 0 0 0 ...
  [list output truncated]

From data dictionary:
```
ACR 1
 Lot size
 b .N/A (GQ/not a one-family house or mobile home)
 1 .House on less than one acre
 2 .House on one to less than ten acres
 3 .House on ten or more acres
```
 
```
AGS 1
 Sales of Agriculture Products
 b .N/A (less than 1 acre/GQ/vacant/
 .2 or more units in structure)
 1 .None
 2 .$ 1 - $ 999
 3 .$ 1000 - $ 2499
 4 .$ 2500 - $ 4999
 5 .$ 5000 - $ 9999
 6 .$10000+ 
```

In [36]:
library(dplyr)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [20]:
idaho.housing <- mutate(idaho.housing, big.sellers=ifelse(ACR==3 & AGS==6, TRUE, FALSE))

In [21]:
which(idaho.housing$big.sellers == TRUE)

 [1]  125  238  262  470  555  568  608  643  787  808  824  849  952  955 1033
[16] 1265 1275 1315 1388 1607 1629 1651 1856 1919 2101 2194 2403 2443 2539 2580
[31] 2655 2680 2740 2838 2965 3131 3133 3163 3291 3370 3402 3585 3652 3852 3862
[46] 3912 4023 4045 4107 4113 4117 4185 4198 4310 4343 4354 4448 4453 4461 4718
[61] 4817 4835 4910 5140 5199 5236 5326 5417 5531 5574 5894 6033 6044 6089 6275
[76] 6376 6420

## Question 2
Using the jpeg package read in the following picture of your instructor into R

https://d396qusza40orc.cloudfront.net/getdata%2Fjeff.jpg

Use the parameter native=TRUE. What are the 30th and 80th quantiles of the resulting data? (some Linux systems may produce an answer 638 different for the 30th quantile)

In [5]:
library(jpeg)

In [6]:
if (!file.exists("data/jeff.jpg")) {
    download.file("https://d396qusza40orc.cloudfront.net/getdata%2Fjeff.jpg", "data/jeff.jpg")
}

In [12]:
jeff <- readJPEG("data/jeff.jpg", native = TRUE)

In [14]:
quantile(jeff, c(.30,.80))

      30%       80%
-15259150 -10575416

## Question 3
Load the Gross Domestic Product data for the 190 ranked countries in this data set:

https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2FGDP.csv

Load the educational data from this data set:

https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2FEDSTATS_Country.csv

Match the data based on the country shortcode. How many of the IDs match? Sort the data frame in descending order by GDP rank (so United States is last). What is the 13th country in the resulting data frame?

Original data sources:

http://data.worldbank.org/data-catalog/GDP-ranking-table

http://data.worldbank.org/data-catalog/ed-stats

In [153]:
if (!file.exists("data/GDP.csv")) {
    download.file("https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2FGDP.csv", "data/GDP.csv")
}
if (!file.exists("data/FEDSTATS.csv")) {
    download.file("https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2FEDSTATS_Country.csv", "data/FEDSTATS.csv")
}

In [154]:
readLines("data/GDP.csv", n=10)

 [1] ",Gross domestic product 2012,,,,,,,,"
 [2] ",,,,,,,,,"
 [3] ",,,,(millions of,,,,,"
 [4] ",Ranking,,Economy,US dollars),,,,,"
 [5] ",,,,,,,,,"
 [6] "USA,1,,United States,\" 16,244,600 \",,,,,"
 [7] "CHN,2,,China,\" 8,227,103 \",,,,,"
 [8] "JPN,3,,Japan,\" 5,959,718 \",,,,,"
 [9] "DEU,4,,Germany,\" 3,428,131 \",,,,,"
[10] "FRA,5,,France,\" 2,612,878 \",,,,,"

In [155]:
readLines("data/FEDSTATS.csv", n=10)

 [1] "CountryCode,Long Name,Income Group,Region,Lending category,Other groups,Currency Unit,Latest population census,Latest household survey,Special Notes,National accounts base year,National accounts reference year,System of National Accounts,SNA price valuation,Alternative conversion factor,PPP survey year,Balance of Payments Manual in use,External debt Reporting status,System of trade,Government Accounting concept,IMF data dissemination standard,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,2-alpha code,WB-2 code,Table Name,Short Name"
 [2] "ABW,Aruba,High income: nonOECD,Latin America & Caribbean,,,Aruban florin,2000,,,1995,,,,,,,,Special,,,,,,,2008,,AW,AW,Aruba,Aruba"
 [3] "ADO,Principality of Andorra,High income: nonOECD,Europe & Central Asia,,,Euro,Register based,,,,,,,,,,,General,,,,Yes,,,2006,,AD,AD,Andorra,Andorra"
 [4] "AFG,Islamic State of Afghanistan,Low income,South Asia,IDA,HIPC,Afghan afghani,1979,\"MICS, 2003\",Fiscal year end: March 20; reporting period for national accounts data: FY.,2002/2003,,,VAB,,,,Actual,General,Consolidated,GDDS,,,,,2008,2000,AF,AF,Afghanistan,Afghanistan"
 [5] "AGO,People's Republic of Angola,Lower middle income,Sub-Saharan Africa,IDA,,Angolan kwanza,1970,\"MICS, 2001, MIS, 2006/07\",,1997,,,VAP,1991-96,2005,BPM5,Actual,Special,,GDDS,\"IHS, 2000\",,1964-65,,1991,2000,AO,AO,Angola,Angola"
 [6] "ALB,Republic of Albania,Upper middle income,Europe & Central Asia,IBRD,,Albanian lek,2001,\"MICS, 2005\",,,1996,1993,VAB,,2005,BPM5,Actual,General,Consolidated,GDDS,\"LSMS, 2005\",Yes,1998,2005,2008,2000,AL,AL,Albania,Albania"
 [7] "ARE,United Arab Emirates,High income: nonOECD,Middle East & North Africa,,,U.A.E. dirham,2005,,,1995,,,VAB,,,BPM4,,General,Consolidated,GDDS,,,1998,,2008,2005,AE,AE,United Arab Emirates,United Arab Emirates"
 [8] "ARG,Argentine Republic,Upper middle income,Latin America & Caribbean,IBRD,,Argentine peso,2001,,,1993,,1993,VAB,1971-84,2005,BPM5,Actual,Special,Consolidated,SDDS,\"IHS, 2006\",Yes,2002,2001,2008,2000,AR,AR,Argentina,Argentina"
 [9] "ARM,Republic of Armenia,Lower middle income,Europe & Central Asia,Blend,,Armenian dram,2001,\"DHS, 2005\",,,1996,1993,VAB,1990-95,2005,BPM5,Actual,Special,Consolidated,SDDS,\"IHS, 2007\",Yes,,,2008,2000,AM,AM,Armenia,Armenia"
[10] "ASM,American Samoa,Upper middle income,East Asia & Pacific,,,U.S. dollar,2000,,,,,,,,,,,,,,,Yes,,,,,AS,AS,American Samoa,American Samoa"

In [167]:
gdp <- read.csv("data/GDP.csv", skip=5, header = FALSE)
fedstats <- read.csv("data/FEDSTATS.csv")

In [168]:
str(gdp)

'data.frame':	326 obs. of  10 variables:
 $ V1 : Factor w/ 229 levels "","ABW","ADO",..: 215 38 102 51 68 72 28 174 99 93 ...
 $ V2 : Factor w/ 194 levels "",".. Not available.  ",..: 3 104 115 126 137 148 159 170 181 4 ...
 $ V3 : logi  NA NA NA NA NA NA ...
 $ V4 : Factor w/ 229 levels "","  East Asia & Pacific",..: 218 52 107 82 77 217 37 172 105 98 ...
 $ V5 : Factor w/ 205 levels ""," 1,008 "," 1,129 ",..: 40 178 143 100 66 63 61 58 57 16 ...
 $ V6 : Factor w/ 7 levels "","a","b","c",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ V7 : logi  NA NA NA NA NA NA ...
 $ V8 : logi  NA NA NA NA NA NA ...
 $ V9 : logi  NA NA NA NA NA NA ...
 $ V10: logi  NA NA NA NA NA NA ...

In [169]:
gdp <- gdp[gdp$V2 != "", ]

In [170]:
str(gdp)

'data.frame':	194 obs. of  10 variables:
 $ V1 : Factor w/ 229 levels "","ABW","ADO",..: 215 38 102 51 68 72 28 174 99 93 ...
 $ V2 : Factor w/ 194 levels "",".. Not available.  ",..: 3 104 115 126 137 148 159 170 181 4 ...
 $ V3 : logi  NA NA NA NA NA NA ...
 $ V4 : Factor w/ 229 levels "","  East Asia & Pacific",..: 218 52 107 82 77 217 37 172 105 98 ...
 $ V5 : Factor w/ 205 levels ""," 1,008 "," 1,129 ",..: 40 178 143 100 66 63 61 58 57 16 ...
 $ V6 : Factor w/ 7 levels "","a","b","c",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ V7 : logi  NA NA NA NA NA NA ...
 $ V8 : logi  NA NA NA NA NA NA ...
 $ V9 : logi  NA NA NA NA NA NA ...
 $ V10: logi  NA NA NA NA NA NA ...

In [171]:
str(fedstats)

'data.frame':	234 obs. of  31 variables:
 $ CountryCode                                      : Factor w/ 234 levels "ABW","ADO","AFG",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ Long.Name                                        : Factor w/ 234 levels "American Samoa",..: 5 104 57 99 109 226 4 110 1 2 ...
 $ Income.Group                                     : Factor w/ 6 levels "","High income: nonOECD",..: 2 2 4 5 6 2 6 5 6 6 ...
 $ Region                                           : Factor w/ 8 levels "","East Asia & Pacific",..: 4 3 7 8 3 5 4 3 2 4 ...
 $ Lending.category                                 : Factor w/ 4 levels "","Blend","IBRD",..: 1 1 4 4 3 1 3 2 1 3 ...
 $ Other.groups                                     : Factor w/ 3 levels "","Euro area",..: 1 1 3 1 1 1 1 1 1 1 ...
 $ Currency.Unit                                    : Factor w/ 155 levels "","Afghan afghani",..: 8 49 2 5 3 144 6 7 145 44 ...
 $ Latest.population.census                         : Factor w/ 28 levels "","1970","1979",..: 17 28 3 2 18 22 18 18 17 18 ...
 $ Latest.household.survey                          : Factor w/ 56 levels "","CPS (monthly)",..: 1 1 39 38 40 1 1 16 1 1 ...
 $ Special.Notes                                    : Factor w/ 70 levels "","A simple multiplier is used to convert the national currencies of EMU members to euros. The following irrevocable euro conversi"| __truncated__,..: 1 1 27 1 1 1 1 1 1 63 ...
 $ National.accounts.base.year                      : Factor w/ 44 levels "","1954","1973",..: 25 1 38 28 1 25 22 1 1 18 ...
 $ National.accounts.reference.year                 : int  NA NA NA NA 1996 NA NA 1996 NA NA ...
 $ System.of.National.Accounts                      : int  NA NA NA NA 1993 NA 1993 1993 NA NA ...
 $ SNA.price.valuation                              : Factor w/ 3 levels "","VAB","VAP": 1 1 2 3 2 2 2 2 1 2 ...
 $ Alternative.conversion.factor                    : Factor w/ 33 levels "","1960-85","1965-84",..: 1 1 1 24 1 1 6 21 1 1 ...
 $ PPP.survey.year                                  : int  NA NA NA 2005 2005 NA 2005 2005 NA NA ...
 $ Balance.of.Payments.Manual.in.use                : Factor w/ 3 levels "","BPM4","BPM5": 1 1 1 3 3 2 3 3 1 3 ...
 $ External.debt.Reporting.status                   : Factor w/ 4 levels "","Actual","Estimate",..: 1 1 2 2 2 1 2 2 1 1 ...
 $ System.of.trade                                  : Factor w/ 3 levels "","General","Special": 3 2 2 3 2 2 3 3 1 2 ...
 $ Government.Accounting.concept                    : Factor w/ 3 levels "","Budgetary",..: 1 1 3 1 3 3 3 3 1 1 ...
 $ IMF.data.dissemination.standard                  : Factor w/ 3 levels "","GDDS","SDDS": 1 1 2 2 2 2 3 3 1 2 ...
 $ Source.of.most.recent.Income.and.expenditure.data: Factor w/ 77 levels "","1-2-3, 2005-06",..: 1 1 1 35 66 1 45 46 1 1 ...
 $ Vital.registration.complete                      : Factor w/ 2 levels "","Yes": 1 2 1 1 2 1 2 2 2 2 ...
 $ Latest.agricultural.census                       : Factor w/ 45 levels "","1960","1964-65",..: 1 1 1 3 32 32 41 1 1 1 ...
 $ Latest.industrial.data                           : int  NA NA NA NA 2005 NA 2001 NA NA NA ...
 $ Latest.trade.data                                : int  2008 2006 2008 1991 2008 2008 2008 2008 NA 2007 ...
 $ Latest.water.withdrawal.data                     : int  NA NA 2000 2000 2000 2005 2000 2000 NA 1990 ...
 $ X2.alpha.code                                    : Factor w/ 208 levels "","AD","AE","AF",..: 13 2 4 8 6 3 9 7 10 5 ...
 $ WB.2.code                                        : Factor w/ 209 levels "","AD","AE","AF",..: 13 2 4 8 6 3 9 7 10 5 ...
 $ Table.Name                                       : Factor w/ 234 levels "Afghanistan",..: 10 5 1 6 2 220 8 9 4 7 ...
 $ Short.Name                                       : Factor w/ 234 levels "Afghanistan",..: 10 5 1 6 2 220 8 9 4 7 ...

In [172]:
df.merged <- merge(gdp, fedstats, by.x="V1", by.y="CountryCode")

In [173]:
df.merged

    V1  V2  V3 V4                             V5           V6 V7 V8 V9 V10 ⋯
1   ABW 161 NA Aruba                           2,584          NA NA NA NA  ⋯
2   AFG 105 NA Afghanistan                     20,497         NA NA NA NA  ⋯
3   AGO 60  NA Angola                          114,147        NA NA NA NA  ⋯
4   ALB 125 NA Albania                         12,648         NA NA NA NA  ⋯
5   ARE 32  NA United Arab Emirates            348,595        NA NA NA NA  ⋯
6   ARG 26  NA Argentina                       475,502        NA NA NA NA  ⋯
7   ARM 133 NA Armenia                         9,951          NA NA NA NA  ⋯
8   ATG 172 NA Antigua and Barbuda             1,134          NA NA NA NA  ⋯
9   AUS 12  NA Australia                       1,532,408      NA NA NA NA  ⋯
10  AUT 27  NA Austria                         394,708        NA NA NA NA  ⋯
11  AZE 68  NA Azerbaijan                      66,605         NA NA NA NA  ⋯
12  BDI 162 NA Burundi                         2,472          NA NA NA NA  ⋯
13  BEL 25  NA Belgium                         483,262        NA NA NA NA  ⋯
14  BEN 140 NA Benin                           7,557          NA NA NA NA  ⋯
15  BFA 128 NA Burkina Faso                    10,441         NA NA NA NA  ⋯
16  BGD 59  NA Bangladesh                      116,355        NA NA NA NA  ⋯
17  BGR 76  NA Bulgaria                        50,972         NA NA NA NA  ⋯
18  BHR 93  NA Bahrain                         29,044         NA NA NA NA  ⋯
19  BHS 138 NA Bahamas, The                    8,149          NA NA NA NA  ⋯
20  BIH 111 NA Bosnia and Herzegovina          17,466         NA NA NA NA  ⋯
21  BLR 69  NA Belarus                         63,267         NA NA NA NA  ⋯
22  BLZ 169 NA Belize                          1,493          NA NA NA NA  ⋯
23  BMU 149 NA Bermuda                         5,474          NA NA NA NA  ⋯
24  BOL 96  NA Bolivia                         27,035         NA NA NA NA  ⋯
25  BRA 7   NA Brazil                          2,252,664      NA NA NA NA  ⋯
26  BRB 153 NA Barbados                        4,225          NA NA NA NA  ⋯
27  BRN 113 NA Brunei Darussalam               16,954         NA NA NA NA  ⋯
28  BTN 167 NA Bhutan                          1,780          NA NA NA NA  ⋯
29  BWA 117 NA Botswana                        14,504         NA NA NA NA  ⋯
30  CAF 165 NA Central African Republic        2,184          NA NA NA NA  ⋯
⋮   ⋮   ⋮   ⋮  ⋮                              ⋮            ⋮  ⋮  ⋮  ⋮  ⋮   ⋱
160 SWZ 158 NA Swaziland                       3,744          NA NA NA NA  ⋯
161 SYC 173 NA Seychelles                      1,129          NA NA NA NA  ⋯
162 SYR 65  NA Syrian Arab Republic            73,672         NA NA NA NA  ⋯
163 TCD 124 NA Chad                            12,887         NA NA NA NA  ⋯
164 TGO 156 NA Togo                            3,814          NA NA NA NA  ⋯
165 THA 31  NA Thailand                        365,966        NA NA NA NA  ⋯
166 TJK 143 NA Tajikistan                      6,972          NA NA NA NA  ⋯
167 TKM 91  NA Turkmenistan                    35,164         NA NA NA NA  ⋯
168 TMP 170 NA Timor-Leste                     1,293          NA NA NA NA  ⋯
169 TON 184 NA Tonga                           472            NA NA NA NA  ⋯
170 TTO 101 NA Trinidad and Tobago             23,320         NA NA NA NA  ⋯
171 TUN 79  NA Tunisia                         45,662         NA NA NA NA  ⋯
172 TUR 17  NA Turkey                          789,257        NA NA NA NA  ⋯
173 TUV 190 NA Tuvalu                          40             NA NA NA NA  ⋯
174 TZA 95  NA Tanzania                        28,242      c  NA NA NA NA  ⋯
175 UGA 106 NA Uganda                          19,881         NA NA NA NA  ⋯
176 UKR 53  NA Ukraine                         176,309        NA NA NA NA  ⋯
177 URY 78  NA Uruguay                         49,920         NA NA NA NA  ⋯
178 USA 1   NA United States                   16,244,600     NA NA NA NA  ⋯
179 UZB 75  NA Uzbekistan                      51,113         NA NA NA NA  ⋯
180 VCT 180 NA St. Vincent and the Grenadines  713            NA NA NA NA  ⋯
181 VEN 29  NA Venezuela, RB                   381,286        NA NA NA NA  ⋯
182 VNM 57  NA Vietnam                         155,820        NA NA NA NA  ⋯
183 VUT 177 NA Vanuatu                         787            NA NA NA NA  ⋯
184 WSM 181 NA Samoa                           684            NA NA NA NA  ⋯
185 YEM 90  NA Yemen, Rep.                     35,646         NA NA NA NA  ⋯
186 ZAF 28  NA South Africa                    384,313        NA NA NA NA  ⋯
187 ZAR 112 NA Congo, Dem. Rep.                17,204         NA NA NA NA  ⋯
188 ZMB 104 NA Zambia                          20,678         NA NA NA NA  ⋯
189 ZWE 134 NA Zimbabwe                        9,802          NA NA NA NA  ⋯
    Source.of.most.recent.Income.and.expenditure.data
1
2
3   IHS, 2000
4   LSMS, 2005
5
6   IHS, 2006
7   IHS, 2007
8
9   ES/BS, 1994
10  IS 2000
11  ES/BS, 2005
12  CWIQ, 2006
13  IHS, 2000
14  CWIQ, 2003
15  CWIQ, 2003
16  IHS, 2005
17  ES/BS, 2003
18
19
20  LSMS, 2007
21  ES/BS 2007
22  ES/BS 1995
23
24  IHS, 2007
25  LFS, 2007
26
27
28  IHS, 2003
29  ES/BS, 1993/94
30  PS, 2003
⋮   ⋮
160 ES/BS, 2000/01
161
162
163 PS, 2002-03
164 CWIQ, 2006
165 IHS, 2004
166 LSMS, 2004
167 LSMS, 1998
168 LSMS, 2007
169
170 IHS, 1992
171 IHS, 2000
172 LFS, 2006
173
174 ES/BS, 2000/01
175 PS, 2005
176 ES/BS, 2008
177 IHS, 2007
178 LFS 2000
179 ES/BS, 2003
180
181 IHS, 2003
182 IHS, 2006
183
184
185 ES/BS, 2005
186 ES/BS, 2000
187 1-2-3, 2005-06
188 IHS, 2004-05
189
    Vital.registration.complete Latest.agricultural.census
1
2
3                               1964-65
4   Yes                         1998
5                               1998
6   Yes                         2002
7   Yes
8   Yes
9   Yes                         2001
10  Yes                         1999-2000
11  Yes
12
13  Yes                         1999-2000 (conducted annually)
14                              1992
15                              1993
16                              2005
17  Yes
18  Yes
19
20  Yes
21  Yes                         1994
22
23  Yes
24                              1984-1988
25                              1996
26  Yes
27  Yes
28                              2000
29                              1993
30                              1985
⋮   ⋮                           ⋮
160                             2003
161 Yes                         1998
162                             1981
163
164                             1996
165                             2003
166                             1994
167 Yes
168
169 Yes                         2001
170 Yes                         2004
171                             2004
172                             2001
173
174                             2002-2003
175                             1991
176 Yes
177 Yes                         2000
178 Yes                         1997/2002
179 Yes
180 Yes
181 Yes                         1997
182                             2001
183
184                             1999
185                             2002
186                             2000
187                             1990
188                             1990
189                             1960
    Latest.industrial.data Latest.trade.data Latest.water.withdrawal.data
1     NA                   2008                NA
2     NA                   2008              2000
3     NA                   1991              2000
4   2005                   2008              2000
5     NA                   2008              2005
6   2001                   2008              2000
7     NA                   2008              2000
8     NA                   2007              1990
9   2004                   2008              2000
10  2004                   2008              2000
11  2005                   2008              2005
12    NA                   2008              2000
13  2004                   2008                NA
14    NA                   2005              2001
15    NA                   2005              2000
16  1997                   2007              2000
17  2005                   2008              2000
18    NA                   2007              2003
19  1997                   2008                NA
20    NA                   2008                NA
21    NA                   2008              2000
22    NA                   2008              2000
23    NA                   2008                NA
24  2000                   2008              2000
25  2004                   2008              2000
26    NA                   2008              2000
27    NA                   2006                NA
28    NA                   2008              2000
29  2005                   2008              2000
30    NA                   2005              2000
⋮   ⋮                      ⋮                 ⋮
160   NA                   2007              2000
161   NA                   2008              2003
162   NA                   2007              2003
163   NA                   1996              2000
164   NA                   2007              2002
165 1999                   2008              2000
166   NA                   2000              2000
167   NA                   2000              2000
168   NA                   2005                NA
169   NA                   2007                NA
170 2005                   2008              2000
171   NA                   2008              2000
172 2000                   2008              2003
173   NA                     NA                NA
174   NA                   2007              2002
175 2001                   2008                NA
176   NA                   2008              2000
177 2004                   2008              2000
178 2004                   2008              2000
179   NA                     NA              2000
180   NA                   2008                NA
181   NA                   2008                NA
182 1999                   2008              2000
183   NA                   2007                NA
184   NA                   2008                NA
185 2005                   2008              2000
186 2005                   2008              2000
187   NA                   1986              2000
188   NA                   2008              2000
189 1995                   2008              2002
    X2.alpha.code WB.2.code Table.Name
1   AW            AW        Aruba
2   AF            AF        Afghanistan
3   AO            AO        Angola
4   AL            AL        Albania
5   AE            AE        United Arab Emirates
6   AR            AR        Argentina
7   AM            AM        Armenia
8   AG            AG        Antigua and Barbuda
9   AU            AU        Australia
10  AT            AT        Austria
11  AZ            AZ        Azerbaijan
12  BI            BI        Burundi
13  BE            BE        Belgium
14  BJ            BJ        Benin
15  BF            BF        Burkina Faso
16  BD            BD        Bangladesh
17  BG            BG        Bulgaria
18  BH            BH        Bahrain
19  BS            BS        Bahamas, The
20  BA            BA        Bosnia and Herzegovina
21  BY            BY        Belarus
22  BZ            BZ        Belize
23  BM            BM        Bermuda
24  BO            BO        Bolivia
25  BR            BR        Brazil
26  BB            BB        Barbados
27  BN            BN        Brunei Darussalam
28  BT            BT        Bhutan
29  BW            BW        Botswana
30  CF            CF        Central African Republic
⋮   ⋮             ⋮         ⋮
160 SZ            SZ        Swaziland
161 SC            SC        Seychelles
162 SY            SY        Syrian Arab Republic
163 TD            TD        Chad
164 TG            TG        Togo
165 TH            TH        Thailand
166 TJ            TJ        Tajikistan
167 TM            TM        Turkmenistan
168 TL            TP        Timor-Leste
169 TO            TO        Tonga
170 TT            TT        Trinidad and Tobago
171 TN            TN        Tunisia
172 TR            TR        Turkey
173 TV            TV        Tuvalu
174 TZ            TZ        Tanzania
175 UG            UG        Uganda
176 UA            UA        Ukraine
177 UY            UY        Uruguay
178 US            US        United States
179 UZ            UZ        Uzbekistan
180 VC            VC        St. Vincent and the Grenadines
181 VE            VE        Venezuela, RB
182 VN            VN        Vietnam
183 VU            VU        Vanuatu
184 WS            WS        Samoa
185 YE            RY        Yemen, Rep.
186 ZA            ZA        South Africa
187 CD            ZR        Congo, Dem. Rep.
188 ZM            ZM        Zambia
189 ZW            ZW        Zimbabwe
    Short.Name
1   Aruba
2   Afghanistan
3   Angola
4   Albania
5   United Arab Emirates
6   Argentina
7   Armenia
8   Antigua and Barbuda
9   Australia
10  Austria
11  Azerbaijan
12  Burundi
13  Belgium
14  Benin
15  Burkina Faso
16  Bangladesh
17  Bulgaria
18  Bahrain
19  The Bahamas
20  Bosnia and Herzegovina
21  Belarus
22  Belize
23  Bermuda
24  Bolivia
25  Brazil
26  Barbados
27  Brunei
28  Bhutan
29  Botswana
30  Central African Republic
⋮   ⋮
160 Swaziland
161 Seychelles
162 Syrian Arab Republic
163 Chad
164 Togo
165 Thailand
166 Tajikistan
167 Turkmenistan
168 Timor-Leste
169 Tonga
170 Trinidad and Tobago
171 Tunisia
172 Turkey
173 Tuvalu
174 Tanzania
175 Uganda
176 Ukraine
177 Uruguay
178 United States
179 Uzbekistan
180 St. Vincent and the Grenadines
181 Venezuela
182 Vietnam
183 Vanuatu
184 Samoa
185 Yemen
186 South Africa
187 Dem. Rep. Congo
188 Zambia
189 Zimbabwe

In [174]:
length(df.merged$Long.Name[df.merged$Long.Name != ""])

[1] 189

In [175]:
df.merged$V2 <- as.numeric(as.character(df.merged$V2))

In [178]:
head(arrange(df.merged, desc(V2)), n=13)

   V1  V2  V3 V4                             V5    V6 V7 V8 V9 V10 ⋯
1  TUV 190 NA Tuvalu                          40      NA NA NA NA  ⋯
2  KIR 189 NA Kiribati                        175     NA NA NA NA  ⋯
3  MHL 188 NA Marshall Islands                182     NA NA NA NA  ⋯
4  PLW 187 NA Palau                           228     NA NA NA NA  ⋯
5  STP 186 NA S\xe3o Tom\xe9 and Principe     263     NA NA NA NA  ⋯
6  FSM 185 NA Micronesia, Fed. Sts.           326     NA NA NA NA  ⋯
7  TON 184 NA Tonga                           472     NA NA NA NA  ⋯
8  DMA 183 NA Dominica                        480     NA NA NA NA  ⋯
9  COM 182 NA Comoros                         596     NA NA NA NA  ⋯
10 WSM 181 NA Samoa                           684     NA NA NA NA  ⋯
11 VCT 180 NA St. Vincent and the Grenadines  713     NA NA NA NA  ⋯
12 GRD 178 NA Grenada                         767     NA NA NA NA  ⋯
13 KNA 178 NA St. Kitts and Nevis             767     NA NA NA NA  ⋯
   Source.of.most.recent.Income.and.expenditure.data
1
2
3
4
5  PS 2000-01
6
7
8
9  IHS, 2004
10
11
12
13
   Vital.registration.complete Latest.agricultural.census
1
2
3
4  Yes
5
6
7  Yes                         2001
8  Yes
9
10                             1999
11 Yes
12
13
   Latest.industrial.data Latest.trade.data Latest.water.withdrawal.data
1  NA                       NA              NA
2  NA                     2005              NA
3  NA                       NA              NA
4  NA                       NA              NA
5  NA                     2008              NA
6  NA                       NA              NA
7  NA                     2007              NA
8  NA                     2008              NA
9  NA                     2007              NA
10 NA                     2008              NA
11 NA                     2008              NA
12 NA                     2008              NA
13 NA                     2007              NA
   X2.alpha.code WB.2.code Table.Name
1  TV            TV        Tuvalu
2  KI            KI        Kiribati
3  MH            MH        Marshall Islands
4  PW            PW        Palau
5  ST            ST        S\xe3o Tom\xe9 and Principe
6  FM            FM        Micronesia, Fed. Sts.
7  TO            TO        Tonga
8  DM            DM        Dominica
9  KM            KM        Comoros
10 WS            WS        Samoa
11 VC            VC        St. Vincent and the Grenadines
12 GD            GD        Grenada
13 KN            KN        St. Kitts and Nevis
   Short.Name
1  Tuvalu
2  Kiribati
3  Marshall Islands
4  Palau
5  S\xe3o Tom\xe9 and Principe
6  Micronesia
7  Tonga
8  Dominica
9  Comoros
10 Samoa
11 St. Vincent and the Grenadines
12 Grenada
13 St. Kitts and Nevis

In [63]:
tail(df.merged)

    V1  V2  V3 V4               V5  V6 V7 V8 V9 V10 ⋯
219 WSM 181 NA Samoa            684    NA NA NA NA  ⋯
220 YEM 90  NA Yemen, Rep.       NA    NA NA NA NA  ⋯
221 ZAF 28  NA South Africa      NA    NA NA NA NA  ⋯
222 ZAR 112 NA Congo, Dem. Rep.  NA    NA NA NA NA  ⋯
223 ZMB 104 NA Zambia            NA    NA NA NA NA  ⋯
224 ZWE 134 NA Zimbabwe          NA    NA NA NA NA  ⋯
    Source.of.most.recent.Income.and.expenditure.data
219
220 ES/BS, 2005
221 ES/BS, 2000
222 1-2-3, 2005-06
223 IHS, 2004-05
224
    Vital.registration.complete Latest.agricultural.census
219                             1999
220                             2002
221                             2000
222                             1990
223                             1990
224                             1960
    Latest.industrial.data Latest.trade.data Latest.water.withdrawal.data
219   NA                   2008                NA
220 2005                   2008              2000
221 2005                   2008              2000
222   NA                   1986              2000
223   NA                   2008              2000
224 1995                   2008              2002
    X2.alpha.code WB.2.code Table.Name       Short.Name
219 WS            WS        Samoa            Samoa
220 YE            RY        Yemen, Rep.      Yemen
221 ZA            ZA        South Africa     South Africa
222 CD            ZR        Congo, Dem. Rep. Dem. Rep. Congo
223 ZM            ZM        Zambia           Zambia
224 ZW            ZW        Zimbabwe         Zimbabwe

## Question 4
What is the average GDP ranking for the "High income: OECD" and "High income: nonOECD" group?

In [183]:
library(dplyr)

In [185]:
library(plyr)

------------------------------------------------------------------------------
You have loaded plyr after dplyr - this is likely to cause problems.
If you need functions from both plyr and dplyr, please load plyr first, then dplyr:
library(plyr); library(dplyr)
------------------------------------------------------------------------------

Attaching package: ‘plyr’

The following objects are masked from ‘package:dplyr’:

    arrange, count, desc, failwith, id, mutate, rename, summarise,
    summarize

In [190]:
Income.Group.Average <- ddply(df.merged, .(Income.Group), summarize, average=mean(V2))

In [191]:
Income.Group.Average

  Income.Group         sum
1 High income: nonOECD  91.91304
2 High income: OECD     32.96667
3 Low income           133.72973
4 Lower middle income  107.70370
5 Upper middle income   92.13333

## Question 5

In [195]:
library(Hmisc)

Loading required package: lattice
Loading required package: survival
Loading required package: Formula
Loading required package: ggplot2

Attaching package: ‘Hmisc’

The following objects are masked from ‘package:plyr’:

    is.discrete, summarize

The following objects are masked from ‘package:dplyr’:

    combine, src, summarize

The following objects are masked from ‘package:base’:

    format.pval, round.POSIXt, trunc.POSIXt, units

In [199]:
df.merged$gdp.group <- cut2(df.merged$V2, g=5)

In [200]:
table(df.merged$gdp.group, df.merged$Income.Group)

               High income: nonOECD High income: OECD Low income
  [  1, 39)  0                    4                18          0
  [ 39, 77)  0                    5                10          1
  [ 77,115)  0                    8                 1          9
  [115,154)  0                    5                 1         16
  [154,190]  0                    1                 0         11

            Lower middle income Upper middle income
  [  1, 39)                   5                  11
  [ 39, 77)                  13                   9
  [ 77,115)                  12                   8
  [115,154)                   8                   8
  [154,190]                  16                   9